<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> Vue.js </title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

	<div id="app" class="container">
		<h1> Users </h1>
		<h2> Lista </h2>
		<ul>
			<li v-for="item in users">
				<component-user v-bind:user="item"></component-user>
			</li>
		</ul>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

	<script>
		Vue.component('component-user', {
			props: ['user'],
			template: `
				<div>
					<span> {{ user.username }} </span>
					<hr />
				</div>
			`,
			methods: {
				agregar: function(p_user){
					p_user.seleccionado = true;
				},
				eliminar: function(p_user){
					p_user.seleccionado = false;
				}
			}
		})
		new Vue({
			el: '#app',
			data: {
				users: []
			},
			created: function(){
				var that = this;
                axios.defaults.headers.common['Authorization'] = 
                                'JWT ' + 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE1MzEyNDAxMTEsInVzZXJuYW1lIjoiYWRtaW4iLCJlbWFpbCI6ImFkbWluQGV4YW1wbGUuY29tIiwidXNlcl9pZCI6MX0.9UtYzsi9M5WCLkqJ1Be0CdP_uoctsg3UVWwJNRKNtQ0';
				axios.get('http://10.1.148.105:8420/api/users')
				.then(function (response) {
                    console.log(response.data.results);

					that.users = response.data.results;
				})
				.catch(function (error) {
					console.log(error);
				});
			}
		});
	</script>

</body>
</html>